body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-seris;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.my-extracto {
    width: 80%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.title-principal {
    font-size: 2.5em;
}

.stack-job {
    width: 100%;
    background-color: #eee;
}

.container {
    width: 90%;
    margin: 50px auto;
    padding: 10px;
}




@media screen and (min-width: 769px){

    .my-extracto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: start;
    }

    .myCopy {
        width: 60%;
        font-size: 1.2em;
    }

    .stack-job {
        display: flex;
        flex-wrap: wrap;
    }

    .stack-technology {
        width: 50%;
    }

    .technology-hobbies {
        width: 50%;
    }

    .herramientas {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}